<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Rewrite all requests that aren't static assets to server.js -->
        <rule name="React Router" stopProcessing="true">
          <match url="^(?!.*\.(css|js|png|jpg|jpeg|gif|svg|html|json)$)" />
          <action type="Rewrite" url="/server.js" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
