
:root  {
    --background1: #F8F8F8;
    --background2: #FFFFFF;
    --border1: #edf2f4;
    --primary: 	hsla(180, 31%, 74%, 100%) !important;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-color: var(--background1);
}

p {
    margin: 0;
}